<ion-header class="ion-no-border" style="background-color: #f1f5f8;">
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-icon routerLink="/approval" slot="icon-only" name="arrow-back"></ion-icon>&nbsp;&nbsp;
    <!-- <ion-menu-button menu ="main-menu"></ion-menu-button> -->
  </ion-buttons>
  <ion-buttons slot="start">
    <h6 *ngIf="isview" style="font-family: fangsong;">View Approval</h6> 
      <h6 *ngIf="ishideview" style="font-family: fangsong;">{{isupdate ? "Update Approval" : "Add Approval"}}</h6> 
    </ion-buttons>
  </ion-toolbar> 
</ion-header>
<ion-content>

  <div *ngIf="ishide" id="form">
      <ion-item class="ion-margin-bottom">
        <ion-input type="text" [readonly]="true" [(ngModel)]="reporter_team_name" placeholder="Reporter Team"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-input type="text" [readonly]="true" [(ngModel)]="reporter_brief" placeholder="Reporter Issue"></ion-input>
      </ion-item>
      <div *ngIf="visible" style="text-align: center;">
        <img style="background: #f1f5f8;padding: 15px 10px 20px 10px;border-radius: 28px 28px 28px 28px;
        width: 100%;height: 0%;" [src]="reporter_img" height=100px; width=100px; alt="binging data image fadsf">
    </div>
      <ion-item class="ion-margin-bottom">
        <ion-input type="text" [readonly]="true" [(ngModel)]="reportee_name" placeholder="Reportee Name"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-input type="text" [readonly]="true" [(ngModel)]="reportee_brief" placeholder="Reportee brief"></ion-input>
      </ion-item>
      <div *ngIf="reportee_visible" style="text-align: center;">
        <img style="background: #f1f5f8;padding: 15px 10px 20px 10px;border-radius: 28px 28px 28px 28px;
        width: 100%;height: 0%;" [src]="reportee_img" height=100px; width=100px; alt="binging data image fadsf">
    </div>
    <ion-item class="ion-margin-bottom">
      <ion-input type="text" [(ngModel)]="view_status" placeholder="Status"></ion-input>
    </ion-item>
  <ion-item class="ion-margin-bottom">
    <ion-input type="text" [(ngModel)]="view_briefIf" placeholder="Brief if"></ion-input>
  </ion-item>
  <div *ngIf="spinner == true">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
</div>

  <div *ngIf="isShown">
  <form [formGroup]="myGroup" id="form">
    <ion-list class="background-color">
      <ion-item class="ion-margin-bottom">
        <ion-select interface="popover" (ionChange)="triggerEvent($event)" formControlName="reporterTeamId" placeholder="Reporter Team">
          <ion-select-option  *ngFor="let list of reporter_team_list" value="{{list.id}}">{{list.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list class="background-color">
      <ion-item class="ion-margin-bottom" disabled="{{isDisabled}}">
        <ion-select interface="popover" (ionChange)="reporter_triggerEvent($event)" formControlName="reporterId" placeholder="List Of reporters">
          <ion-select-option *ngFor="let list of reporter_list_of_issues" [value]="list">{{list.briefIf}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <div *ngIf="visible" style="text-align: center;">
      <img style="background: #f1f5f8;padding: 15px 10px 20px 10px;border-radius: 28px 28px 28px 28px;
      width: 100%;height: 0%;" [src]="photos" height=100px; width=100px; alt="binging data image fadsf">
  </div>
    <ion-list class="background-color">
      <ion-item class="ion-margin-bottom" disabled="{{isDisabled}}">
        <ion-select interface="popover" (ionChange)="reportee_triggerEvent($event)" formControlName="reporteeId" placeholder="List Of reportees">
          <ion-select-option *ngFor="let list of reportee_list_of_issues" [value]="list">{{list.briefIf}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <div *ngIf="reportee_visible" style="text-align: center;">
      <img style="background: #f1f5f8;padding: 15px 10px 20px 10px;border-radius: 28px 28px 28px 28px;
      width: 100%;height: 0%;" [src]="reportee_photos" height=100px; width=100px; alt="binging data image fadsf">
  </div>
    <ion-list class="background-color">
      <ion-item class="ion-margin-bottom">
        <ion-select interface="popover" formControlName="status" placeholder="Final Approval">
          <ion-select-option value="Approve">Approval</ion-select-option>
          <ion-select-option value="Deny">Deny</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
<ion-item class="ion-margin-bottom">
  <ion-input type="text" formControlName="briefIf" placeholder="Brief if"></ion-input>
</ion-item>
  <ion-button *ngIf="isShown" (click)="submit()" expand="block" shape="round">{{isupdate ? "Update" : "Save"}}</ion-button>
</form><br>
<div *ngIf="spinner == true">
  <ion-spinner name="bubbles"></ion-spinner>
</div>
</div>
</ion-content>

